@tailwind base;
@tailwind components;
@tailwind utilities;


/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.container-main{
  overflow: scroll;
  margin-top: 15vh;
  color: white;
}
.container-main::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  transition: background-color 0.3s, border 0.3s;
}

.circle.hovered {
  background-color: white;
  border: 2px solid black;
}
